<div class="col-10 offset-1 about">
	<h1>About</h1>

	<p>
		This web app was built by <a target="_blank" href="https://github.com/amyhenning" class="about-link">Amy Henning</a>, an aspiring web developer currently residing in Colorado.
	</p>

<div class="row">
	<div class="col-12 col-sm-4" style="padding-top:30px;">
		<%= image_tag 'amy.jpg', class: 'img-fluid' %>
	</div>

	<div class="col-12 col-sm-7 offset-sm-1" style="padding-top:30px;">
		<h2 class="text-center about">Amy Henning</h2>
		<br />
		<p>
			Amy Henning is a career educator with experience in K-12 and college access teaching and curriculum design. She is currently learning to code through <a target="_blank" href="http://thefirehoseproject.com" class="about-link">The Firehose Project</a>. She has loved the works of J.R.R. Tolkien since her uncles convinced her to see the film adaptation of <i>The Fellowship of the Ring</i> in 2001.
		</p>
	</div>
</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
